{% extends "myapp/base.html" %}
{% block content %}
<h1 style="color: aliceblue;">Until this page gets updated, let's get in touch on:</h1>
<li><h2><a href="https://www.linkedin.com/in/sourav-jha-318389191/">Linkedin</a></h2></li>
<li><h2><a href="https://twitter.com/souravjha_">Twitter</a></h2></li>   
<li><h2><a href="https://www.instagram.com/souravjha_/">Instagram</a></h2></li>
<li><h2><a href="@tosendsourav@gmail.com">Mail</a></h2></li>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #650e0e;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #0bccd6;
}</style>
{% endblock content %}
